body{

  margin:0;
  padding:0;
  width:1200px;
  font-size:13px;
  line-height: 24px;
  color:white;
  background-color: #282828;
}
a{
  text-decoration:none;
}
.main-header{
  background-color:#f4f7f9;
}
.top-menu-header{
  width:100%;
  background-color:#293449;
}
.container{
  width:940px;
  margin:0 auto;
}
.top-menu-header .container {
  display:flex;
}
.navigation{
  width:100%;
}
.navigation .main-nav{
  display: flex;
  justify-content: space-between;
  width:100%;
}
.navigation .container{
  display: flex;
}

 .button-preview{
display:flex;
width:100%;
}
.main-header .button-preview{
  display:flex;
  width:100%;
  justify-content: space-between;
}
.top-menu-header a{
  width:100%;
  background-color:#293449;
}
.main-header a:hover{
 background-color:#ca2c37;
}
.wrapper{
  background:black;
}
.main-logo{
  text-transform: uppercase;
  font-size:17px;
  line-height:18px;
  color: #ffffff;


}
.button-preview{
  background-color:#293449;
}
.button-preview a{
  font-size:17px;
  line-height:18px;
  color:#ffffff;
  text-align:center;
}
.button-preview li{
  list-style: none;
  width:150px;

}
.label-new .catalog-item:nth-child(2n+1):not(:first-child):not(:last-child)::after{
  content: "new";
color:red;
}
.catalog-item{
  width:220px;
  min-height: 320px;
  margin-right:20px;
}
.catalog-item:nth-child(3n){
  margin-right:0;
}
.main-menu-header{
width:100%;
padding-top:45px;
padding-bottom:45px;
}
.main-menu-header .container{
  display:flex;
  justify-content: space-around;
}
.main-menu-header .shop-description {
  width:160px;
  font-style: italic;
  font-family: "Cuprum";
   color:#ee3643;
}
.main-menu-header .header-contacts{
  width:270px;
  height:45px;
  text-align:center;
  border:2px solid #ffffff;
}
.button-preview .button-basket{
  background-color:#ee3643;
  color:#ffffff;
  text-align: center;
}
.button-preview .place-button-current {
  background-color:#63a63e;
  text-align:center;
}
.
.shop-description{
  font-size:16px;
  line-height:23px;
  color:#ee3643;
}
.person{
  font-size:18px;
  line-height:20px;
  color:#000000;
  font-weight: bold;

}
.header-contacts a{
line-height:21px;
color:#ee3643;
}
.header-contacts {
font-size:14px;
line-height:24px;
}
.header-contacts span{
  color:#32425c;
  font-size:14px;
line-height:24px;
font-family: "Cuprum";
}
.authorization{
  display:flex;
  width:20%;
  justify-content: space-between;
}
.wrapper-contacts span{
  color:#32425c;
}
.authorization a{
font-size:21px;
line-height:21px;
color:#000000;
font-family: "Cuprum";
}
.authorization li{
  background-color:#ffffff;
}
.main-nav{
  background-color:#32425c;
  margin-bottom:60px;
}
.main-nav li{
list-style:none;
font-size:18px;
line-height:20px;
}

.order a{
  color:#32425c;
  font-size:16px;
line-height:18px;
text-decoration: underline;
font-family: "Cuprum";
}
.order{
  display: flex;
}
.order li{
  margin-right:15px;
}
.main-nav a{
  color:#ffffff;
}
.breadcrumb-catalog{
   display:flex;

}
.breadcrumb .breadcrumb-items{
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;
  color:#000000;
  margin-right: 50px;
}
.breadcrumb li{
  list-style:none;
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;
}
.main-menu h1{
   font-size:30px;
  line-height:30px;
  color:#32425c;
}
main{
  background-color:#ffffff;
}
.services h2{
  color:#000000;
  font-size:30px;
  line-height:30px;
}
.services p{
  color:#000000;
  font-size:13px;
  line-height:24px;
}
.services li{
  list-style: none;
}
.services-catalog .services-item{

  color:#ffffff;
  font-size:21px;
  line-height:30px;
  font-weight: bold;
}
.services-catalog .services-item-current{
   background-color:#ffffff;
  color:#000000;
  font-size:21px;
  line-height:30px;
  font-weight: bold;
}

.form-product button{
  margin-left:50px;
  margin-top:20px;
}
.form-product-wrapper{
  display: flex;
}
.form-product legend{
  font-size:17px;
  line-height:30px;
}
.form-product h2{
   font-size:55px;
  line-height:30px;
  font-weight: bold;
  color:green;
}
  .form-product fieldset{
    border: none;
  }
.form-product .filter-bosch,
.form-product .filter-interscol,
.form-product .filter-makita,
.form-product .filter-dewalt,
.form-product .filter-hitachi,
.form-product .filter-accumulator,
.form-product .filter-network
{
  text-transform: uppercase;
  font-size:15px;
  line-height:20px;
  color:#000000;
}
/*.form-product-wrapper{
  display: flex;
  justify-content: space-between;
}*/
.form-product li{
  list-style:none;
}
.form-product button{
   font-size:13px;
  line-height:18px;
  background-color:#ffffff;
  color:#000000;
}
.catalog{
  min-height: 976px;
  width:700px;
}
.catalog-list li{
  list-style: none;
}
.catalog-list .new,
.catalog-list-product .new{
  font-size:16px;
  line-height:23px;
  color:#ffffff;
  background-color:#ee3643;
}
.catalog-list h3{
  font-size:24px;
  line-height:30px;
  color:#ffffff;
}
.catalog-list-yellow{
  background-color:#ffbf47;
}
.catalog-list-blue{
  background-color:#3bbce3;
}
.catalog-list-pink{
  background-color:#dc91d8;
}
.catalog-list-green{
  background-color:#8ed78f;
}
.catalog-list .big-drill{
  font-size:30px;
  line-height:30px;
  font-weight: bold;
  color:#000000;
}
.catalog-list a{
  font-size:18px;
  line-height:24px;
  color:#ffffff;
}
.catalog-list-product{
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding:0;
}
.catalog-list-product del{
  color:#999999;
  font-size:17px;
  line-height:18px;
  font-weight: bold;
}
.catalog-list-product .new-buy{
  background-color:#ee3643;
}
.catalog-list-product .buy{
  background-color:#63a63e;
  color:#ffffff;
  font-size:14px;
  line-height:18px;
}
.catalog-list-product .bookmark{
  border:2px solid #63a63e;
  color:#32425c;
  font-size:14px;
  line-height:18px;
}
.catalog-list .open-catalog{
  background-color:#ee3643;
}
.catalog-list-product p{
  font-size:17px;
  line-height:18px;
  font-weight: bold;
  color:#ffffff;
}
.catalog-list-product a{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
}
.sort{
  display:flex;
  justify-content: center;
}
.filter-price {
  display:flex;
}
.filter-catalog .sort-item{
  color:#000000;
}
.filter-price li{
  color:#000000;
  list-style: none;
}
.filter-catalog p{
  font-size:17px;
  line-height:30px;
  color:#000000;
  font-weight: bold;
}
.sort-catalog h2{
  font-size:13px;
  line-height:18px;
  color:#000000;
}
.sort-increase{
  color:#000000;
  background-color:#ee3643;
}
.sort-decrease{
  color:#000000;

}
.sort a{
   font-size:13px;
  line-height:18px;
  text-transform: uppercase;
}
.sort .sort-price{
  color:#ee3643;
}.sort .sort-type,
 .sort .sort-functional
{
  color:#000000;
  text-decoration: underline;
  opacity:0.5;
}
.sort .sort-price{
  color:#ee3643;
  margin-right:140px;
}
.sort .sort-catalog{
  margin-right:40px;
}
.popular-product h2{
  font-size:30px;
  line-height:30px;
  color:#32425c;
  text-transform: uppercase;
}
.popular-product .all-product{
  background-color:#ee3643;
}
.popular-product .all-popular-product{
  font-size:14px;
  line-height:18px;
  text-align:center;
}
.catalog-list-product li{
  list-style: none;
}
.catalog-list-product .perforator-list{
  color:#000000;
  font-weight: bold;
  font-size:18px;
  line-height:20px;

}
.popular-manufacturer h2{
  font-size:30px;
  line-height:30px;
  color:#32425c;
  text-transform: uppercase;

}
.techomart-company{
  background-color:#ffffff;
  width:530px;

}
.techomart-company h2{
  font-size:30px;
line-height:30px;
color:#000000;
font-family: "Cuprum";
}
.techomart-company p{
 font-size:13px;
line-height:24px;
color:#000000;
font-family: "PT Sans";
}
.select-company{
color:#424242;
}
.techomart-company .company-list{
  list-style: none;
  font-size:18px;
line-height:20px;
color:#000000;
font-family:"Cuprum";
}
.techomart-company .about-company{
   background-color:#ee3643;
}
.index-columns{
  display:flex;
  justify-content: space-between;
  padding:80px 130px;
  min-height: 365px;
}
.select-company {
   margin-bottom:45px;
}
.select-company li{
  list-style: none;
  font-size:18px;
line-height:20px;
color:#000000;
font-family:"Cuprum";
}
.pagination-list a{
  font-size:13px;
line-height:18px;
color:#000000;
}
.contacts h2{
  font-size:30px;
line-height:30px;
color:#000000;
}
.contacts p{
   font-size:13px;
line-height:24px;
color:#000000;
}
.contacts a{
   background-color:#ee3643;
}

.product li{
  list-style: none;

}
.main-footer{
  background-color:#293449;
}
.main-footer p{
  font-size:18px;
line-height:24px;
}
.footer-list a{
  font-size:18px;
line-height:24px;
color:#ffffff;
font-family: "Cuprum";
}
.footer-list li{
  list-style: none;
  padding-top:45px;

}


.navigation-footer{
  width:100%;
  background-color:#32425c;
  min-height:100px;
}
.navigation-footer .container{
  display:flex;
  width:940px;
  justify-content: space-between;
  margin:0 auto;
}
.main-footer{
  background-color:#293449;
}
.main-footer p{
  font-size:18px;
line-height:24px;
}
.footer-list{
  display:flex;
  flex-direction: end;
  justify-content: space-between;
  width:100%;

}
.footer-adress{
  font-family: "Cuprum";
  font-size:18px;
line-height:24px;
width:500px;
}
.footer-adr{
  width:100%;
  background:#32425c;
}
.footer-adr a{
  color:#f3f7f9;
  font-family: "Cuprum";
}
.footer-adr .container{
  display:flex;
  width:940px;
  justify-content: space-between;
  margin:0 auto;

}
.product{
  display:flex;
  justify-content: space-between;
  width:100%;
}
.product a{
  font-size:18px;
line-height:24px;
font-family: "Cuprum";
color:#ffda96;

}
.contacts-info .container{
  display:flex;
  width:940px;
  justify-content: space-between;
  margin:0 auto;
  padding-top:45px;
  padding-bottom:45px;
}
.social{
  display: flex;
}
.social li{
  list-style:none;
  margin-right:20px;
}

.copyright-technomart p{
  font-size:16px;
line-height:18px;
color:#ffffff;
font-family: "Cuprum";
}
.Feedback, .htmlacademy-project{
   font-size:16px;
line-height:18px;
color:#ffffff;
font-family: "Cuprum";
}
.Feedback a{
  color:#ffd180;
}
.htmlacademy-project a{
  color:#ffd180;
}

